.board {
  background-image: url('https://images.unsplash.com/photo-1533035350251-aa8b8e208d95?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
}

.game-board {
  width: 100wh;
  height: 50vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.player-container {
  width: 100%;
  height: 25vh;
  display: flex !important;
}

.player-id {
  background: brown;
  width: 20%;
  text-align: center;
}

.hand {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-left: 80px;
}

.card {
  background: brown;
  width: 100px;
  height: 150px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}

.card-image {
  width: 100px;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.base-area {
  background: brown;
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.player-game-cards {
  display: flex;
  justify-content: space-evenly;
  margin: 35px;
}

.base-group {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: brown;
}

.current-base-totals {
  display: flex;
  flex-direction: column;
  background: brown;
  font-size: 20px;
}